---
layout: single
author_profile: true
---
<li>
    <a href="/papers" itemprop="sameAs">
        <i class="fas fa-book" aria-hidden="true"></i> Papers
    </a>
</li>
<li>
    <a href="/translations" itemprop="sameAs">
        <i class="fas fa-pen-fancy" aria-hidden="true"></i> Translations
    </a>
</li>
<li>
    <a href="/fun" itemprop="sameAs">
        <i class="fas fa-palette" aria-hidden="true"></i> Fun
    </a>
</li>


<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
{% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
